In [3]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in ./lib/python3.13/site-packages (9.2.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pandas

Requirement already satisfied: pandas in ./lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./lib/python3.13/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in ./lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in ./lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from mysql import connector
import pandas as pd
import glob

connection = connector.connect(
    host = "localhost",
    user = "root",
    password = "Amma@1727"
)
cursor = connection.cursor()
mycursor

In [1]:
! pip install mysql-connector-python
from mysql import connector
import pandas as pd
import glob

connection = connector.connect(
    host = "localhost",
    user = "root",
    password = "Amma@1727"
)



df = pd.read_csv("southbengal.csv")
df = pd.read_csv("assam.csv")
df = pd.read_csv("bihar.csv")
df = pd.read_csv("kerala.csv")
df = pd.read_csv("telangana.csv")
df = pd.read_csv("rajasthan.csv")
df = pd.read_csv("jammukashmir.csv")
df = pd.read_csv("northbengal.csv")
df = pd.read_csv("kadamba.csv")
df = pd.read_csv("westbengal.csv")


csv_files = ["southbengal.csv", "assam.csv", "bihar.csv", "kerala.csv", 
             "telangana.csv", "rajasthan.csv", "jammukashmir.csv", 
             "northbengal.csv", "kadamba.csv", "westbengal.csv"]



df_list =[pd.read_csv(file) for file in csv_files]
combined_df = pd.concat(df_list, ignore_index=True)

combined_df.insert(0, 'id', range(1, len(combined_df) + 1))

if 'Price' in combined_df.columns:
    combined_df['Price'] = combined_df['Price'].astype(str).str.replace('INR ', '', regex=False).astype(float)

if 'Seat_Availability' in combined_df.columns:
    combined_df['Seat_Availability'] = combined_df['Seat_Availability'].str.extract(r'(\d+)').astype(float)

combined_df = combined_df.dropna()

try:
    connection = connector.connect(
    host = "localhost",
    user = "root",
    password = "Amma@1727",
    database="redbus"
    )
    cursor = connection.cursor()

    table_name = "bus_routes"
    cursor.execute(f"DROP TABLE IF EXISTS {table_name}")

    sql_columns = ", ".join(
        f"`{col}` {'FLOAT' if dtype == 'float64' else 'INT' if dtype == 'int64' else 'TEXT'}"
        for col, dtype in zip(combined_df.columns, combined_df.dtypes)
    )

    create_table_query = f"CREATE TABLE {table_name} ({sql_columns});"
    cursor.execute(create_table_query)

    data_tuples = [tuple(x) for x in combined_df.to_numpy()]
    insert_query = f"INSERT INTO {table_name} ({', '.join(combined_df.columns)}) VALUES ({', '.join(['%s'] * len(combined_df.columns))})"

    cursor.executemany(insert_query, data_tuples)
    connection.commit()

    print("Data successfully inserted into MySQL database.")

except connector.Error as err:
    print(f"Error: {err}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

Requirement already satisfied: mysql-connector-python in ./lib/python3.13/site-packages (9.2.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Data successfully inserted into MySQL database.